* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42693f;
  color: #eee;
}
