#form-container h2 {
  font-size: 30px;
  margin-bottom: 2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#form-imc {
  width: 350px;
}

.form-input label {
  text-align: start;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.form-input input {
  height: 50px;
  padding-left: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

#form-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
