#table-container {
    text-align: center;
}

#imc-number {
    font-size: 35px;
    margin-bottom: 1rem;
}

#imc-info {
    font-size: 20px;
    margin-bottom: 1rem;
}

#table-container h3 {
 margin-bottom: 1rem;
 font-size: 20px;
}

#imc-table{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}

#table-header {
    margin: 0.5rem 0;
    font-weight: bolder;
}

#table-header,
.table-data {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
}

#table-header p,
.table-data p{
    flex: 1;
}

#table-header p:nth-child(3),
.table-data p:nth-child(3){
    max-width: 80px;
}

.low {
    color: #cbd62f;
}

.good {
    color: #50d62f;
}

.medium {
    color: #a36124;
}

.high {
    color: #a32824;
}